nodered_flow.json
[
    {
        "id": "d476034d77a8a06b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8fdd9ff660d615d2",
        "type": "image",
        "z": "d476034d77a8a06b",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "709b6d4064be7dda",
        "type": "camera-mac",
        "z": "d476034d77a8a06b",
        "name": "",
        "outputPath": "/tmp",
        "fileName": "output.jpg",
        "x": 480,
        "y": 380,
        "wires": [
            [
                "8fdd9ff660d615d2",
                "4a9a1b8b0eb96cae"
            ]
        ]
    },
    {
        "id": "eb7a8cbe44425426",
        "type": "inject",
        "z": "d476034d77a8a06b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "709b6d4064be7dda"
            ]
        ]
    },
    {
        "id": "4a9a1b8b0eb96cae",
        "type": "plate-recognizer",
        "z": "d476034d77a8a06b",
        "name": "",
        "inputField": "payload",
        "inputFieldType": "msg",
        "outputField": "payload",
        "outputFieldType": "msg",
        "url": "https://api.platerecognizer.com/v1/plate-reader/",
        "ignoreDuring": true,
        "makeAndModel": false,
        "statusText": "count",
        "cameraId": "",
        "separateMsg": false,
        "regionFilter": false,
        "regionList": "[]",
        "regionListType": "json",
        "x": 320,
        "y": 580,
        "wires": [
            [
                "0c667c09c19116cc"
            ],
            []
        ]
    },
    {
        "id": "0c667c09c19116cc",
        "type": "function",
        "z": "d476034d77a8a06b",
        "name": "Acesso",
        "func": "msg.payload = msg.payload.results[0].plate;\nif (msg.payload == \"jsz3697\"){\n    msg.payload = \"Acesso Permitido!\";\n} else {\n    msg.payload = \"ACESSO NEGADO!\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 720,
        "wires": [
            [
                "3f377c8c07df9b68"
            ]
        ]
    },
    {
        "id": "4bdbfe43912fad2e",
        "type": "arduino out",
        "z": "d476034d77a8a06b",
        "name": "",
        "pin": "2",
        "state": "PWM",
        "arduino": "adfaf18f718f51eb",
        "x": 1130,
        "y": 440,
        "wires": []
    },
    {
        "id": "b8efb532a41580c7",
        "type": "arduino out",
        "z": "d476034d77a8a06b",
        "name": "",
        "pin": "3",
        "state": "PWM",
        "arduino": "adfaf18f718f51eb",
        "x": 1130,
        "y": 480,
        "wires": []
    },
    {
        "id": "7fafc9c15358c5dd",
        "type": "arduino out",
        "z": "d476034d77a8a06b",
        "name": "",
        "pin": "4",
        "state": "PWM",
        "arduino": "adfaf18f718f51eb",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "3f377c8c07df9b68",
        "type": "switch",
        "z": "d476034d77a8a06b",
        "name": "1 (P) 2 (N)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Permitido",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "NEGADO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 480,
        "y": 720,
        "wires": [
            [
                "6d1e7df54e74acb7",
                "10af5e7f9c3cf46a"
            ],
            [
                "95f2fb2c0aba022c",
                "907d679dfe87022e"
            ]
        ]
    },
    {
        "id": "6d1e7df54e74acb7",
        "type": "function",
        "z": "d476034d77a8a06b",
        "name": "to 255",
        "func": "msg.payload = 255;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 680,
        "wires": [
            [
                "4bdbfe43912fad2e",
                "1d0e9142a33bafbd",
                "944c0549ba7b7ee4"
            ]
        ]
    },
    {
        "id": "10af5e7f9c3cf46a",
        "type": "function",
        "z": "d476034d77a8a06b",
        "name": "to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 720,
        "wires": [
            [
                "b8efb532a41580c7",
                "6c5b5e6b56443e50",
                "d9cf873e193b0b5c",
                "7fafc9c15358c5dd",
                "c3aa9b68c472b4e4",
                "bc7d28a60505e2a9"
            ]
        ]
    },
    {
        "id": "1d0e9142a33bafbd",
        "type": "arduino out",
        "z": "d476034d77a8a06b",
        "name": "",
        "pin": "5",
        "state": "PWM",
        "arduino": "adfaf18f718f51eb",
        "x": 1130,
        "y": 620,
        "wires": []
    },
    {
        "id": "6c5b5e6b56443e50",
        "type": "arduino out",
        "z": "d476034d77a8a06b",
        "name": "",
        "pin": "6",
        "state": "PWM",
        "arduino": "adfaf18f718f51eb",
        "x": 1130,
        "y": 660,
        "wires": []
    },
    {
        "id": "c3aa9b68c472b4e4",
        "type": "arduino out",
        "z": "d476034d77a8a06b",
        "name": "",
        "pin": "7",
        "state": "PWM",
        "arduino": "adfaf18f718f51eb",
        "x": 1130,
        "y": 700,
        "wires": []
    },
    {
        "id": "944c0549ba7b7ee4",
        "type": "arduino out",
        "z": "d476034d77a8a06b",
        "name": "",
        "pin": "8",
        "state": "PWM",
        "arduino": "adfaf18f718f51eb",
        "x": 1130,
        "y": 800,
        "wires": []
    },
    {
        "id": "d9cf873e193b0b5c",
        "type": "arduino out",
        "z": "d476034d77a8a06b",
        "name": "",
        "pin": "9",
        "state": "PWM",
        "arduino": "adfaf18f718f51eb",
        "x": 1130,
        "y": 840,
        "wires": []
    },
    {
        "id": "bc7d28a60505e2a9",
        "type": "arduino out",
        "z": "d476034d77a8a06b",
        "name": "",
        "pin": "10",
        "state": "PWM",
        "arduino": "adfaf18f718f51eb",
        "x": 1130,
        "y": 880,
        "wires": []
    },
    {
        "id": "95f2fb2c0aba022c",
        "type": "function",
        "z": "d476034d77a8a06b",
        "name": "to 255",
        "func": "msg.payload = 255;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 820,
        "wires": [
            [
                "7fafc9c15358c5dd",
                "c3aa9b68c472b4e4",
                "bc7d28a60505e2a9"
            ]
        ]
    },
    {
        "id": "907d679dfe87022e",
        "type": "function",
        "z": "d476034d77a8a06b",
        "name": "to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 860,
        "wires": [
            [
                "d9cf873e193b0b5c",
                "944c0549ba7b7ee4",
                "6c5b5e6b56443e50",
                "1d0e9142a33bafbd",
                "b8efb532a41580c7",
                "4bdbfe43912fad2e"
            ]
        ]
    },
    {
        "id": "c9463ea675eea0b5",
        "type": "comment",
        "z": "d476034d77a8a06b",
        "name": "Permitido",
        "info": "Permitido",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "3a12511b6a26ab6c",
        "type": "comment",
        "z": "d476034d77a8a06b",
        "name": "Negado",
        "info": "Permitido",
        "x": 490,
        "y": 760,
        "wires": []
    },
    {
        "id": "2f8e07eeb361241c",
        "type": "function",
        "z": "d476034d77a8a06b",
        "name": "to 255",
        "func": "msg.payload = 255;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 580,
        "wires": [
            [
                "4bdbfe43912fad2e",
                "b8efb532a41580c7",
                "7fafc9c15358c5dd",
                "1d0e9142a33bafbd",
                "6c5b5e6b56443e50",
                "c3aa9b68c472b4e4",
                "944c0549ba7b7ee4",
                "d9cf873e193b0b5c",
                "bc7d28a60505e2a9"
            ]
        ]
    },
    {
        "id": "63ddf296edeb0410",
        "type": "inject",
        "z": "d476034d77a8a06b",
        "name": "Desligar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 580,
        "wires": [
            [
                "2f8e07eeb361241c"
            ]
        ]
    },
    {
        "id": "adfaf18f718f51eb",
        "type": "arduino-board",
        "device": "/dev/cu.usbserial-A100DRGF"
    }
]